@font-face {
    font-family: 'opensans';
    src: url('fonts/OpenSans.eot');
    src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans.woff') format('woff'), url('fonts/OpenSans.ttf') format('truetype'), url('fonts/OpenSans.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensansBold';
    src: url('fonts/OpenSans.eot');
    src: url('fonts/opensansBold.eot?#iefix') format('embedded-opentype'), url('fonts/opensansBold.woff') format('woff'), url('fonts/opensansBold.ttf') format('truetype'), url('fonts/opensansBold.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-BoldIt';
    src: url('fonts/MyriadPro-BoldIt.eot');
    src: url('fonts/MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-BoldIt.woff') format('woff'), url('fonts/MyriadPro-BoldIt.ttf') format('truetype'), url('fonts/MyriadPro-BoldIt.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
    width: 100%;
    height: 100%;
    background-color: gray;
    overflow: hidden;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.main-wrapper {
    width: 1024px;
    height: 100%;
    margin: auto;
    /* box-shadow: 5px 5px 5px 5px; */
    /* padding-top: 30px; */
    overflow: hidden;
    background-size: contain;
    position: relative;
}

.main-background {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    background-size: cover;
    background-image: url('images/background.jpg');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position-y: 10%; /*-203px;*/
    display: none;
}

header {
    width: 100%;
    height: 30px;
    top: 19px;
    position: relative;
}

.logo {
    width: 123px;
    height: 55px;
    float: left;
    background-image: url('images/wikidots logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 30px;
}

.menu {
    width: 27px;
    height: 30px;
    float: right;
    background-image: url('images/nav burger.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 30px;
    cursor: pointer;
}

.menu.edit {
    background-image: url('images/editicon.png');
    width: 43px;
    height: 47px;
    background-size: 100% 100%;
    margin-right: 10px;
    background-position-y: -10px;
    cursor: pointer;
}

.menu:hover {
    opacity: 0.8;
}

.main-data-wrapper {
    width: 100%;
    height: 344px;
    margin: auto;
    /* margin-top: 4%; */
    padding-left: 30px;
    padding-right: 30px;
    /* margin: auto; */
    box-sizing: border-box;
    z-index: 3;
    position: absolute;
    top: 15%;
    /*bottom: 0;*/
    left: 0;
    right: 0;
}

@media screen and (min-height: 700px) {
    .main-data-wrapper {
        top: 21%;
    }
}

.main-data {
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

.back-button {
    position: absolute;
    top: 0;
    left: 12px;
    font-size: 17px;
    background-repeat: no-repeat;
    /* background-size: 10px 10px; */
    background-position: 0px -4px;
    padding-left: 0px;
    background-image: url(images/back.png);
    width: 86px;
    height: 42px;
    color: #ffffff;
    cursor: pointer;
    background-position-x: -11px;
}

.x-button {
    background-image: url('images/x.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 38px;
    height: 37px;
    margin: 7px;
    /* float: right; */
    position: absolute;
    right: 0;
    cursor: pointer;
}

.x-button:hover {
    opacity: 0.8;
}

.synopsis.selectedsyn {
    border: 3px solid #d31c5b;
}

.youtube-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0px;
    z-index: 3;
}

.youtube-iframe iframe {
    display: block;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.synopsis {
    box-shadow: 10px 18px 21px 0.00px rgba(1, 1, 1, 0.43);
    width: 342px;
    height: 258px;
    background-color: white;
    text-align: left;
    font-family: OpenSans;
    color: #000000;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    overflow: hidden;
    padding: 7px 10px;
    display: inline-block;
    top: 0;
    vertical-align: top;
    margin-top: 30px;
    font-family: opensans;
    position: relative;
    border: 3px solid white;
    transition: all 0.3s linear;
}

.syn-text::first-letter {
    font-weight: bold;
    font-size: 20px;
}

.learn-more {
    color: #d31c5b;
    position: absolute;
    bottom: 4px;
    right: 9px;
    text-decoration: none;
}

.highlights-wrapper {
    width: 454px;
    height: 100px;
    margin-left: 17px;
    display: inline-block;
    vertical-align: top;
    margin-top: 48px;
}

.highlights-item {
    width: 100px;
    margin-right: 23px;
    cursor: pointer;
    float: left;
    height: 141px;
}

.high-img {
    width: 90px;
    height: 90px;
    border-radius: 23px;
    background-color: black;
    border: 2px solid white;
    background-size: 100%;
    background-size: cover;
    right: 0;
    position: relative;
    transition: width 0.5s,right 0.5s;
}

.selected {
    width: 100px;
}

.selected .high-img {
    border: 3px solid #d31c5b;
    width: 96px;
    height: 100px;
    right: 4px;
}

.high-img:hover {
    border: 2px solid #d31c5b;
}

.high-title {
    font-size: 12px;
    color: white;
    text-align: center;
    height: 32px;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 2px;
}

.play {
    background-image: url('images/play.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 88px;
    height: 92px;
    position: absolute;
    right: 25px;
    top: 131px;
    cursor: pointer;
}

.play:hover {
    opacity: 0.8;
}

.value-name {
    font-size: 51px;
    text-shadow: 2px 2px #000;
    color: white;
    font-family: MyriadPro;
    width: 936px;
    display: none;
}

.desc-name {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #000;
    font-family: MyriadPro-BoldIt;
    display: none;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 185px;
    width: 100%;
    position: absolute;
    padding-left: 36px;
    padding-right: 58px;
    /* margin: auto; */
    box-sizing: border-box;
    z-index: 1;
}

.main-data-footer {
    width: 560px;
    float: left;
}

.hand {
    background-image: url('images/touch.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 204px;
    height: 98px;
    float: right;
    position: relative;
    right: -17px;
    cursor: pointer;
    display: none !important;
}

.hand:hover {
    opacity: 0.8;
}

.hand-line {
    background-image: url('images/line.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 158px;
    height: 65px;
    float: right;
    right: -49px;
    position: relative;
    display: none !important;
}

.wikipedia_button {
    height: 9.2px;
    position: relative;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 4px;
}

.wikipedia_button img {
    width: 28px;
    height: 27.2px;
    display: block;
}





.main-data .synopsis .learn-more, .main-data .synopsis .highlights-text {
    display: none;
}

.main-data.point-selected .synopsis .learn-more, .main-data.point-selected .synopsis .highlights-text {
    display: block;
}

.main-data.point-selected .synopsis .syn-text {
    display: none;
}


/*********timeline**********/
.timeline {
    clear: both;
    width: 100%;
    height: 50px;
    position: relative;
    /*top: 10px;*/
    display: none;
}

.dot {
    background-image: url('images/dot.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 31px;
    height: 40px;
    background-size: 200%;
    background-position-x: 2px;
    position: absolute;
    left: 0;
    margin-top: 6px;
}

.dot:hover {
    background-position-x: -27px;
}

.pink {
    background-image: url('images/broken.png');
    background-repeat: repeat-x;
    /* background-size: 100%; */
    height: 6px;
    width: 50%;
    float: right;
    margin-top: 17px;
}

.line {
    height: 3px;
    background-color: gray;
    width: 0;
    float: left;
    margin-top: 18px;
    transition: width 10s linear;
}

/**********sidebar************/
#sidebar {
    background-color: black;
    width: 237px;
    height: 100%;
    position: absolute;
    right: -237px;
    top: 0;
    background-repeat: no-repeat;
    background-image: url('images/sidepanel.png');
    background-size: 125%;
    transition: right 0.5s linear;
    z-index: 3;
    background-position: -30px -20px;
    display: none;
}

.x {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
    right: 0;
}

#sidebar input {
    border: none;
    position: relative;
    top: 81px;
    left: 19px;
    width: 172px;
    background-color: transparent;
    height: 21px;
}

.options {
}

.option-item {
    font-family: MyriadPro;
}

.dot .dot_discription {
    display: none;
    width: 245px;
    border: 3px solid white;
    background-color: #e6e7e8;
    height: 52px;
    overflow: hidden;
    font-family: OpenSans;
    font-size: 12px;
    margin-left: 17px;
    margin-top: 13px;
    z-index: 1;
    position: relative;
}

.dot:hover .dot_discription {
    display: block;
}

ul {
    width: 134px !important;
    font-size: 15px !important;
}

.homepage {
    background-image: url('images/home.jpg');
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.popup > div {
    width: 674px;
    height: 444px;
    margin: auto;
    z-index: 4;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
}

.popup-oops > div {
    background-image: url("images/popup-oops.png");
}

.popup-editor > div {
    background-image: url("images/editPopup.png");
}

form#send-email input[name=email] {
    width: 216px;
    position: absolute;
    top: 242px;
    left: 47px;
    height: 30px;
}

form#send-email input.sendbtn {
    width: 146px;
    position: absolute;
    top: 233px;
    left: 262px;
    height: 56px;
}


.send-mail {
    position: absolute;
    bottom: 200px;
    width: 300px;
    left: 216px;
    opacity: 0;
}

.send-mail a {
    width: 100%;
    display: block;
}

.create-new-text {
    position: absolute;
    bottom: 176px;
    width: 198px;
    left: 69px;
    opacity: 0;
    cursor: pointer;
    height: 20px;
}

.date-point {
    color: #ffffff;
    position: relative;
    text-align: center;
    top: 27px;
    font-size: 15px;
    left: -2px;
    display: none;
}

a.logo-ref:link {
    display: block;
    height: 100%;
    width: 100%;
}

.random a:link {
    display: block;
    height: 100%;
    width: 100%;
}

.magnifying-glass {
    width: 26px;
    height: 26px;
    position: absolute;
    right: 18px;
    top: 80px;
    cursor: pointer;
}
.home-page .magnifying-glass
{
    background-image: url('images/searchbar-home.png');
width: 297px;
height: 37px;
float: right;
/* position: absolute; */
/* margin-right: 30px; */
position: absolute;
top: 0;
/* z-index: 100; */
right: 27px;
}
.share-item {
    width: 191px;
    height: 67px;
    position: absolute;
    top: 131px;
    left: 32px;
    cursor: pointer;
}

.create-new {
    width: 172px;
    height: 68px;
    position: absolute;
    top: 200px;
    left: 32px;
    cursor: pointer;
}

.random {
    width: 186px;
    height: 68px;
    position: absolute;
    top: 266px;
    left: 32px;
    cursor: pointer;
}

.popup .x-popup {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 200px;
    width: 200px;
}



#mainMask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("images/filtercube.png");
    background-repeat: repeat;
    top: 0;
    left: 0;
}

body.home-page .give_dots {
    float: left;
    width: 150px;
    margin-top: -24px;
}

body.home-page .highlights-wrapper {
    width: 500px;
    position: absolute;
    bottom: 28px;
    display: none;
}

body.home-page .homepage_headline_text {
    width: 470px;
    position: absolute;
    display: none;
}

body.home-page .homepage_laptop {
    width: 420px;
    position: absolute;
    right: 0px;
    bottom: -44px;
    display: none;
}

body.home-page .main-data {
    background-image: url('images/homepage main box-14.png');
    background-color: inherit;
}

.top-dots-wrapper {
}

.top-dots-title {
    background-image: url('images/top dots.png');
    width: 100%;
    height: 55px;
    padding-bottom: 5px;
    left: -12px;
    position: relative;
}

.top-dots-list {
    width: 100%;
    height: 111px;
}

.top-dot-item:last-child .highlights-item {
    margin-right: 0;
}

.home-page .search {
  /* background-image: url('images/searchbar-home.png'); */
width: 252px;
height: 19px;
float: right;
/* position: absolute; */
margin-right: 57px;
position: relative;
z-index: 10;
top: 10px;
border: none;
}

.txt {
    background-image: url('images/text.png');
    width: 141px;
    height: 66px;
    float: right;
    position: relative;
    top: -14px;
    display: none;
}

.help {
    background-image: url('images/help.png');
width: 173px;
height: 162px;
position: absolute;
right: 1px;
top: 35px;
background-size: 100%;
cursor: pointer;
}

.help:hover {
    opacity: 0.8;
}
.ui-widget-content{
    width: 300px !important;
min-height: 0;
max-height: 300px;
overflow-y: auto;
overflow-x: hidden;
}