@font-face {
    font-family: 'opensans';
    src: url('fonts/OpenSans.eot');
    src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans.woff') format('woff'), url('fonts/OpenSans.ttf') format('truetype'), url('fonts/OpenSans.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensansBold';
    src: url('fonts/OpenSans.eot');
    src: url('fonts/opensansBold.eot?#iefix') format('embedded-opentype'), url('fonts/opensansBold.woff') format('woff'), url('fonts/opensansBold.ttf') format('truetype'), url('fonts/opensansBold.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/MyriadPro-Regular.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-BoldIt';
    src: url('fonts/MyriadPro-BoldIt.eot');
    src: url('fonts/MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'), url('fonts/MyriadPro-BoldIt.woff') format('woff'), url('fonts/MyriadPro-BoldIt.ttf') format('truetype'), url('fonts/MyriadPro-BoldIt.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
    width: 100%;
    height: 100%;
    background-color: gray;
    overflow: hidden;
    margin: 0;
    font-family: MyriadPro;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.main-wrapper {
    width: 1024px;
    height: 100%;
    margin: auto;
    /* box-shadow: 5px 5px 5px 5px; */
    /* padding-top: 30px; */
    overflow: hidden;
    background-size: contain;
    position: relative;
}

.main-background {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position-y: 10%; /*-203px;*/
    display: none;
}

.main-background img {
    width: 100%;
    margin: auto;
    position: absolute;
    left: -3%;
    right: -3%;
    margin: auto;
    top: 0;
    bottom: 0;
    transition: transform 0.5s ease-in;
}
.main-background img.grow {
 transform: scale(1.02);
  transition: transform 0.5s ease-in;

}

header {
    width: 100%;
    height: 30px;
    top: 19px;
    position: relative;
}

.logo {
    width: 123px;
    height: 55px;
    float: left;
    background-image: url('images/wikidots logo.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 30px;
}

.menu {
    width: 27px;
    height: 30px;
    float: right;
    background-image: url('images/nav burger.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 30px;
    cursor: pointer;
}

.menu.edit {
    background-image: url('images/editicon.png');
    width: 43px;
    height: 47px;
    background-size: 100% 100%;
    margin-right: -1px;
    background-position-y: -10px;
    cursor: pointer;
}

.menu:hover {
    opacity: 0.8;
}

.main-data-wrapper {
    width: 100%;
    height: 344px;
    margin: auto;
    /* margin-top: 4%; */
    padding-left: 30px;
    padding-right: 30px;
    /* margin: auto; */
    box-sizing: border-box;
    z-index: 3;
    position: absolute;
    top: 15%;
    /*bottom: 0;*/
    left: 0;
    right: 0;
}

@media screen and (min-height: 700px) {
    .main-data-wrapper {
        top: 21%;
    }
}

.main-data {
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

.back-button {
    position: absolute;
    top: 0;
    left: 12px;
    font-size: 17px;
    background-repeat: no-repeat;
    /* background-size: 10px 10px; */
    background-position: 0px -4px;
    padding-left: 0px;
    background-image: url(images/back.png);
    width: 86px;
    height: 42px;
    color: #ffffff;
    cursor: pointer;
    background-position-x: -11px;
}

.x-button {
    background-image: url('images/x.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 38px;
    height: 37px;
    margin: 7px;
    /* float: right; */
    position: absolute;
    right: 0;
    cursor: pointer;
    
     
}

.x-button:hover {
    opacity: 0.8;
}

.synopsis.selectedsyn {
    border: 3px solid #d31c5b;
}

.youtube-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0px;
    z-index: 3;
}

.youtube-iframe iframe {
    display: block;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.synopsis {
    box-shadow: 10px 18px 21px 0.00px rgba(1, 1, 1, 0.43);
    width: 328px;
    height: 214px;
    background-color: white;
    text-align: left;
    font-family: OpenSans;
    color: #000000;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    overflow: hidden;
    padding: 30px;
    display: inline-block;
    top: 0;
    vertical-align: top;
    margin-top: 30px;
    font-family: opensans;
    position: relative;
    border: 3px solid white;
    transition: all 0.3s linear;
}

.syn-text {
    overflow-x: hidden;
    overflow-y: auto;
    height: 214px;
}

.syn-text::first-letter {
    font-weight: bold;
    font-size: 20px;
}

.learn-more {
    background-color: #d31c5b;
    position: absolute;
    bottom: 6px;
    right: 0;
    left: 0;
    height: 54px;
    text-decoration: none;
    padding: 6px;
    width: 337px;
    margin: auto;
}

.learn-more .line1 {
    color: #000000;
    font-family: MyriadPro-BoldIt;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}

.learn-more .title {
    color: #ffffff;
    font-family: MyriadPro;
    font-size: 20px;
    font-weight: 600;
    text-overflow: ellipsis;
    width: 289px;
    overflow: hidden;
    white-space: nowrap;
    /* width: 12em; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.learn-more .arrow {
    background-image: url('images/arrow-23.png');
    float: right;
    width: 47px;
    height: 43px;
    margin-top: 6px;
}


.highlights-wrapper {
    width: 454px;
    height: 100px;
    margin-left: 17px;
    display: inline-block;
    vertical-align: top;
    margin-top: 48px;
}

.highlights-item {
    width: 96px;
    margin-right: 14px;
    cursor: pointer;
    float: left;
    height: 141px;
}

.home-page .highlights-item {
    margin-right: 23px;
}

.high-img {
    width: 90px;
    height: 90px;
    border-radius: 23px;
    background-color: white;
    border: 2px solid white;
    background-size: 100%;
    background-size: cover;
    right: 0;
    position: relative;
    transition: width 0.5s,right 0.5s;
}

.selected {
    width: 100px;
}

.selected .high-img {
    border: 3px solid #d31c5b;
    width: 96px;
    height: 100px;
    right: 4px;
}

.high-img:hover {
    border: 2px solid #d31c5b;
}

.high-title {
    font-size: 13px;
    color: white;
    text-align: center;
    height: 32px;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 90px;
    margin: auto;
    margin-top: 6px;
}

.play {
    background-image: url('images/play.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 88px;
    height: 92px;
    position: absolute;
    right: 14px;
    top: 131px;
    cursor: pointer;
}

.play:hover {
    opacity: 0.8;
}
.play span{
vertical-align: bottom;
display: block;
/* bottom: 0px; */
position: relative;
margin-top: 74px;
color: white;
text-align: center;
width: 81px;
font-size: 13px;
}
.value-name {
    font-size: 51px;
    text-shadow: 2px 2px #000;
    color: white;
    font-family: MyriadPro;
    width: 936px;
    display: none;
    height: 56px;
}

.desc-name {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px #000;
    font-family: MyriadPro-BoldIt;
    display: none;
}

.footer {
    position: absolute;
    bottom: 28px;
    height: 185px;
    width: 100%;
    position: absolute;
    padding-left: 28px;
    padding-right: 30px;
    /* margin: auto; */
    box-sizing: border-box;
    z-index: 1;
}

.main-data-footer {
    width: 560px;
    float: left;
    margin-top: 3px;
}

.hand {
    background-image: url('images/touch.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 204px;
    height: 98px;
    float: right;
    position: relative;
    right: -17px;
    cursor: pointer;
    display: none !important;
}

.hand:hover {
    opacity: 0.8;
}

.hand-line {
    background-image: url('images/line.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 158px;
    height: 65px;
    float: right;
    right: -49px;
    position: relative;
    display: none !important;
}

.wikipedia_button {
    height: 9.2px;
    position: relative;
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 4px;
    float: right;
    margin-right: 19px;
}

.wikipedia_button:hover {
    opacity: 0.8;
}

.wikipedia_button img {
    width: auto;
    height: 30px;
    display: block;
    margin-top: -1px;
}




.highlights-text {
    padding: 0px 10px;
}

.main-data .synopsis .learn-more, .main-data .synopsis .highlights-text {
    display: none;
}

.main-data.point-selected .synopsis .learn-more, .main-data.point-selected .synopsis .highlights-text {
    display: block;
}

.main-data.point-selected .synopsis .syn-text {
    display: none;
}


/*********timeline**********/
.timeline {
    clear: both;
    width: 100%;
    height: 50px;
    position: relative;
    /*top: 10px;*/
    display: none;
}

.dot {
    background-image: url('images/dot.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 31px;
    height: 40px;
    background-size: 200%;
    background-position-x: 2px;
    position: absolute;
    left: 0;
    margin-top: 6px;
}

.dot:hover {
    background-position-x: -27px;
}

.pink {
    background-image: url('images/broken.png');
    background-repeat: repeat-x;
    /* background-size: 100%; */
    height: 6px;
    width: 50%;
    float: right;
    margin-top: 17px;
}

.line {
    height: 3px;
    background-color: gray;
    width: 0;
    float: left;
    margin-top: 18px;
    transition: width 10s linear;
}

#timeline-event-node-wrap {
    display: none;
}

#timeline-event-node-wrap .timeline-event-node {
    top: 9px;
    /*z-index: 10000;*/
}

.timeline-line {
    display: block;
    height: 18px;
    border: 1px solid #c5c5c5;
    box-shadow: 0 3px 5px rgba(0,0,0,0.05) inset;
    border-radius: 20px;
    /* margin-bottom: 40px; */
    position: relative;
    z-index: 9999;
    background: #f5f5f5;
    background: -moz-linear-gradient(top,#f5f5f5 0,#fefefe 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f5f5f5),color-stop(100%,#fefefe));
    background: -webkit-linear-gradient(top,#f5f5f5 0,#fefefe 100%);
    background: -o-linear-gradient(top,#f5f5f5 0,#fefefe 100%);
    background: -ms-linear-gradient(top,#f5f5f5 0,#fefefe 100%);
    background: linear-gradient(top,#f5f5f5 0,#fefefe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#fefefe',GradientType=0);
    position: absolute;
    left: 0;
    top: -1px;
    height: 3px !important;
    background-color: gray !important;
    float: left !important;
    margin-bottom: 0;
    z-index: 10;
}
/**********sidebar************/
#sidebar {
    background-color: black;
    width: 237px;
    height: 100%;
    position: absolute;
    right: -237px;
    top: 0;
    background-repeat: no-repeat;
    background-image: url('images/sidepanel.png');
    background-size: 125%;
    transition: right 0.5s linear;
    z-index: 3;
    background-position: -30px -20px;
    display: none;
}

.x {
    width: 65px;
    height: 65px;
    position: absolute;
    top: 0;
    right: 0;
}

#sidebar input {
    border: none;
    position: relative;
    top: 81px;
    left: 19px;
    width: 172px;
    background-color: transparent;
    height: 21px;
}

.options {
}

.option-item {
    font-family: MyriadPro;
}

.dot .dot_discription {
    display: none;
    width: 245px;
    border: 3px solid white;
    background-color: #e6e7e8;
    height: 52px;
    overflow: hidden;
    font-family: OpenSans;
    font-size: 12px;
    margin-left: 17px;
    margin-top: 13px;
    z-index: 1;
    position: relative;
}

.dot:hover .dot_discription {
    display: block;
}

ul {
    width: 134px !important;
    font-size: 15px !important;
}

.homepage {
    background-image: url('images/home.jpg');
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
     background-color: rgba(0,0,0,0.7); 
    display: none;
    z-index: 100;
}

.popup > div {
    width: 674px;
    height: 444px;
    margin: auto;
    z-index: 4;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
}

.popup-oops > div {
    background-image: url("images/popup-oops.png");
}

.popup-editor > div {
    background-image: url("images/editPopup.png");
}

.popup-feedback > div {
    background-image: url("images/feedback form-clean.png");
    width: 532px;
    height: 672px;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.popup-feedback {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* margin: auto; */
    background-color: rgba(0,0,0,0.7);
}

.popup.popup-learn-more {
    display: none;
    background-color: rgba(0,0,0,0.7);
}

.popup-learn-more > div {
    width: 1024px;
    margin: auto;
    height: 100%;
}

.popup-learn-more .logo {
    margin-top: 20px;
}

.learn-more--wrap-box {
    width: 668px;
    height: 284px;
    background-color: white;
    padding: 30px;
    margin: auto;
    /* margin-top: 136px; */
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    border-radius: 25px 0px 0px 0px;
}

.learn-more-data {
    width: 340px;
    float: left;
}

.about {
    color: #d31c5b;
    font-family: MyriadPro;
    /* font-weight: 600; */
    font-size: 20pt;
}

.learn-more-title {
    /* color: #d31c5b; */
    font-family: MyriadPro;
    font-weight: bold;
    font-size: 20pt;
    height: 32px;
    overflow: hidden;
    width: 338px;
    text-overflow: ellipsis;
    /* width: 289px; */
    overflow: hidden;
    white-space: nowrap;
}

.learn-more-text {
    margin-top: 15px;
    height: 147px;
    font-family: opensans;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    overflow-x: hidden;
}

.learn-more-thumb {
    float: right;
    width: 270px;
    height: 270px;
    border-radius: 78px;
    /* background-color: red; */
    background-size: cover;
    margin-top: 7px;
    background-color: #F2F2F2;
}

.learn-more-button {
    background-image: url('images/learn more button-21.png');
    width: 391px;
    height: 89px;
    background-size: 100%;
    margin-left: -17px;
    cursor: pointer;
    display: block;
}

.learn-more-button:hover {
    opacity: 0.8;
}

form#send-email input[name=email] {
    width: 216px;
    position: absolute;
    top: 242px;
    left: 47px;
    height: 30px;
}

.popup-feedback form#send-email input[name=email] {
    right: 63px;
    left: inherit;
    width: 295px;
    top: 235px;
}

form#send-email input.sendbtn {
    width: 146px;
    position: absolute;
    top: 233px;
    left: 262px;
    height: 56px;
}

.popup-feedback form#send-email input.sendbtn {
    bottom: 116px;
    top: inherit;
    right: 56px;
    left: inherit;
}

.popup-feedback form#send-email input.sendbtn:hover {
    opacity: 0.8;
}

.popup-feedback textarea {
    position: absolute;
    top: 291px;
    left: 49px;
    width: 398px;
    height: 182px;
    padding: 10px;
    color: black;
}

.send-mail {
    position: absolute;
    bottom: 200px;
    width: 300px;
    left: 216px;
    opacity: 0;
}

.send-mail a {
    width: 100%;
    display: block;
}

.create-new-text {
    position: absolute;
    bottom: 176px;
    width: 198px;
    left: 69px;
    opacity: 0;
    cursor: pointer;
    height: 20px;
}

.date-point {
    color: #ffffff;
    position: relative;
    text-align: center;
    top: 27px;
    font-size: 15px;
    left: -2px;
    display: none;
}

a.logo-ref:link {
    display: block;
    height: 100%;
    width: 100%;
}

.random a:link {
    display: block;
    height: 100%;
    width: 100%;
}

.magnifying-glass {
    width: 26px;
    height: 26px;
    position: absolute;
    right: 18px;
    top: 80px;
    cursor: pointer;
}

.home-page .magnifying-glass {
    background-image: url('images/searchbar-home.png');
    width: 297px;
    height: 37px;
    float: right;
    /* position: absolute; */
    /* margin-right: 30px; */
    position: absolute;
    top: 0;
    /* z-index: 100; */
    right: 27px;
}

.share-item {
    width: 191px;
    height: 67px;
    position: absolute;
    top: 131px;
    left: 32px;
    cursor: pointer;
}

.create-new {
    width: 172px;
    height: 68px;
    position: absolute;
    top: 200px;
    left: 32px;
    cursor: pointer;
}

.random {
    width: 186px;
    height: 68px;
    position: absolute;
    top: 266px;
    left: 32px;
    cursor: pointer;
}

.popup .x-popup {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.popup .x-popup:hover {
    opacity: 0.7;
}

.popup-learn-more .x-popup {
    background-image: url('images/close.png');
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    right: 10px;
    top: 10px;
    
    
}

#mainMask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("images/filtercube.png");
    background-repeat: repeat;
    top: 0;
    left: 0;
}

body.home-page .give_dots {
    float: left;
    width: 150px;
    margin-top: -24px;
}

body.home-page .highlights-wrapper {
    width: 500px;
    position: absolute;
    bottom: 28px;
    display: none;
}

body.home-page .homepage_headline_text {
    width: 470px;
    position: absolute;
    display: none;
}

body.home-page .homepage_laptop {
    width: 420px;
    position: absolute;
    right: 0px;
    bottom: -44px;
    display: none;
}

body.home-page .main-data {
    background-image: url('images/homepage main box-14.png');
    background-color: inherit;
}

.top-dots-wrapper {
}

.top-dots-title {
    background-image: url('images/top dots.png');
    width: 100%;
    height: 55px;
    padding-bottom: 5px;
    left: -12px;
    position: relative;
}

.top-dots-list {
    width: 100%;
    height: 111px;
}

.top-dot-item:last-child .highlights-item {
    margin-right: 0;
}

.home-page .search {
    /* background-image: url('images/searchbar-home.png'); */
    width: 257px;
    height: 19px;
    float: right;
    /* position: absolute; */
    margin-right: 57px;
    position: relative;
    z-index: 1;
    top: 10px;
    border: none;
    text-indent: 10px;
}

.txt {
    background-image: url('images/text.png');
    width: 141px;
    height: 66px;
    float: right;
    position: relative;
    top: -14px;
    display: none;
}

.help {
    background-image: url('images/help.png');
    width: 173px;
    height: 162px;
    position: absolute;
    right: 1px;
    top: 35px;
    background-size: 100%;
    cursor: pointer;
}

.help:hover {
    opacity: 0.8;
}

.ui-widget-content {
    width: 280px !important;
    min-height: 0;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}


/*time line */

.timeline-wrap .end-time-background {
    background-image: url('images/broken.png');
    background-repeat: repeat-x;
    /* background-size: 100%; */
    height: 6px;
    width: 50%;
    float: right;
    /* margin-top: 17px; */
    z-index: 12;
    position: relative;
    top: 20px;
    right: 0;
    position: absolute;
}

.timeline-body {
    width: 300px;
    height: 3px !important;
    background-color: white !important;
    float: left !important;
}

.timeline-body {
    height: 3px;
    background-color: gray;
    margin-bottom: 0;
    float: left;
}

.home-page .share-wrapper {
    position: relative;
    bottom: 0;
    height: 45px;
    width: 300px;
    /* right: 0px; */
    float: right;
    margin-right: 12px;
    top: 11px;
    z-index: 10;
}

.share-wrapper {
    position: relative;
    bottom: 0;
    height: 45px;
    width: 300px;
    /* right: 0px; */
    float: right;
    /* margin-right: 174px; */
    top: 12px;
    top: 6px;
    z-index: 10;
    right: 0;
}

.fb_iframe_widget {
    float: right;
}


/**************timeline************/
.timeline-wrap {
    background-color: transparent;
}

.timeline-draggable {
    /* width: 41px !important; */
    /* height: 40px !important; */
    /* background-image: url('images/dot.png') !important; */
    /* background-repeat: no-repeat !important; */
    /* background-size: 200% 100%; */
    /* background-position: -38px 3px; */
    top: -57px;
    /* width: 31px; */
    /* height: 40px; */
    /* cursor: pointer; */
    /* background-image: url('../../images/dot.png'); */
    /* background-repeat: no-repeat; */
    /* background-size: 200%; */
    /* background-position-x: -33px; */
    position: absolute;
    left: 6px;
    /* top: -90px; */
    width: 35px;
    height: 40px;
    cursor: pointer;
    background-image: url('../../images/dot.png');
    background-repeat: no-repeat;
    background-size: 200%;
    background-position-x: -29px;
    position: absolute;
    top: -13px;
}

/***********loader**********/
.loader-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: #333333;
    display: none;
}

.loader-wrap .logo-wrap {
    width: 1024px;
    margin: auto;
}

.loader-wrap .logo {
    margin-top: 20px;
}

.loader {
    width: 300px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.loader-text {
    text-align: center;
    color: white;
}

.loader-bar {
    background-color: black;
    width: 100%;
    height: 10px;
    margin-top: 10px;
}

.loader-progressbar {
    background-color: #d31c5b;
    width: 10%;
    height: 10px;
    transition: width 1.7s;
}
